<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<img src="https://a.dilcdn.com/bl/wp-content/uploads/sites/28/2016/09/561ecde9dfbf6-2.jpg" width="940" height="529">
<div class="hero-section">
  <div class="hero-section-text">
    <h1>Header</h1>
    <h5>subtitle about anything you like</h5>
  </div>
</div>
